<header class="background-horizontal-border">
  <div class="container brand">
    <div class="iconify-icon">
      <img class="svg" src="assets/brand/logo.svg" alt="logo" />
    </div>
    <div class="text">Streamio</div>
  </div>

  <nav class="container2">
    <a class="link" routerLink="/"> <div class="text2">Home</div> </a>
    <a class="link2" routerLink="/videos"> <div class="text3">Videos</div> </a>
    <a class="link2" routerLink="/audios"> <div class="text4">Audios</div> </a>
    <a class="link2" routerLink="/popular"> <div class="text5">Nuevo &amp; Popular</div> </a>
  </nav>

  <div class="container actions">
    <a class="link3" routerLink="/login"> <div class="text6">Iniciar Sesión</div> </a>
    <a class="link4" routerLink="/signup">
      <div class="iconify-icon">
        <div class="svg2">
          <img class="group" src="assets/icons/user-plus.svg" alt="signup" />
        </div>
      </div>
      <div class="text7">Registrarse</div>
    </a>
  </div>
</header>
