<div class="background">
  <div class="overlay">
    <div class="background-border-shadow">
      <div class="horizontal-border">
        <div class="container">
          <div class="text">Creador creado correctamente</div>
        </div>
        <button class="border" type="button" (click)="goBack()">
          <div class="iconify-icon">
            <img class="svg" ngSrc="assets/admin/salir.svg" alt="icono salir" height="18" width="19"/>
          </div>
          <div class="text2">Cerrar</div>
        </button>
      </div>
      <div class="container2">
        <div class="background-border">
          <div class="se-ha-creado-el-creador-y-se-ha-enviado-un-email-de-bienvenida">
            Se ha creado el creador y se ha enviado un email de bienvenida.
          </div>
        </div>
        <div class="container3">
          <div class="background2">
            <img class="avatar" [ngSrc]="creatorData.foto || 'assets/admin/admin_default.png'" [alt]="'foto de ' + creatorData.nombre" height="28" width="28"/>
          </div>
          <div class="container4">
            <div class="paragraph">
              <div class="laura-mart-nez">{{ creatorData.nombre }} {{ creatorData.apellidos }}</div>
              <div class="laura-martinez">&#64;{{ creatorData.alias }}</div>
            </div>
            <div class="container5">
              <div class="container6">
                <div class="strong">
                  <div class="text3">Email:</div>
                </div>
                <div class="laura-martinez-plataforma-com">
                  {{ creatorData.correo }}
                </div>
              </div>
              <div class="container6">
                <div class="strong">
                  <div class="text4">Especialidad:</div>
                </div>
                <div class="text5">{{ creatorData.especialidad }}</div>
              </div>
              <div class="container6">
                <div class="strong">
                  <div class="text6">Tipo de contenido:</div>
                </div>
                <div class="text7">{{ creatorData.tipoContenido === 'VIDEO' ? 'Vídeo' : 'Audio' }}</div>
              </div>
            </div>
            <div class="container7">
              <div class="background-border2">
                <div class="iconify-icon2">
                  <div class="svg2">
                    <img class="group" ngSrc="assets/admin/creadores.svg" alt="icono creador" height="18" width="18"/>
                  </div>
                </div>
                <div class="text8">Creador</div>
              </div>
              <div class="background-border3">
                <div class="iconify-icon2">
                  <div class="svg2">
                    <img class="group2" ngSrc="assets/admin/credenciales.svg" alt="icono credenciales" height="18" width="18" />
                  </div>
                </div>
                <div class="text9">Credenciales establecidas</div>
              </div>
            </div>
          </div>
        </div>
        <div class="margin">
          <div class="horizontal-divider"></div>
        </div>
      </div>
      <div class="horizontal-border2">
        <button class="background3" type="button" (click)="goBack()">
          <div class="iconify-icon3">
            <img class="svg3" ngSrc="assets/admin/tick.svg" alt="icono aceptar" height="18" width="19" />
          </div>
          <div class="text10">Aceptar</div>
        </button>
      </div>
    </div>
  </div>
</div>
