<div class="container8">
  <div class="container9">
    <div class="text7">{{ label }}</div>
  </div>
  <div class="background-border9" [class.error]="fechaInvalid || edadInvalid">
    <input
      type="date"
      class="input-field"
      [(ngModel)]="value"
      (input)="onInput($event)"
      [required]="required"
      [min]="minDate"
    />
  </div>
  <div class="error-message" *ngIf="fechaInvalid">
    {{ errorMessage || 'La fecha no es válida' }}
  </div>
  <div class="error-message" *ngIf="edadInvalid">
    El usuario debe tener al menos 4 años
  </div>
</div>
