@use '../../../../shared/scss/mixins' as mixins;
@use '../../../../shared/scss/base-layout' as base-layout;

.container8 {
  @include mixins.flex-container(column, 6px, stretch, flex-start);
  flex: 1;
  min-width: 0;
  position: relative;
}

.container9 {
  padding: 1px 0 2px 0;
  @include mixins.flex-container(column, 0, flex-start, flex-start);
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text7 {
  @include mixins.text-base(var(--muted-foreground), 13px, 500);
}
