<section class="hero">
  <div class="background2">
    <div class="background3">
      <img class="featured-background" src="assets/placeholders/featured.jpg" alt="featured" />
    </div>
    <div class="container7">
      <div class="container8">
        <div class="background4">
          <div class="iconify-icon"><img class="svg4" src="assets/icons/star.svg" alt="" /></div>
          <div class="text11">Destacado</div>
        </div>
        <div class="background4">
          <div class="iconify-icon"><img class="svg5" src="assets/icons/bolt.svg" alt="" /></div>
          <div class="text12">Contenido VIP Exclusivo</div>
        </div>
        <div class="background4">
          <div class="iconify-icon"><img class="svg4" src="assets/icons/shield.svg" alt="" /></div>
          <div class="text13">16+</div>
        </div>
      </div>
      <div class="container9">
        <div class="container10">
          <div class="text14">Nightfall: Rise of the City</div>
        </div>
        <div class="container10">
          <div class="text15">
            Dive into our most-watched blockbuster. Stream in 4K with immersive audio.
            Some content may be restricted based on your age and subscription tier.
          </div>
        </div>
        <div class="container11">
          <a class="link7" href="#">
            <div class="iconify-icon"><img class="svg6" src="assets/icons/play.svg" alt="" /></div>
            <div class="text16">Ver Ahora</div>
          </a>
          <a class="link8" href="#">
            <div class="iconify-icon"><img class="svg7" src="assets/icons/crown.svg" alt="" /></div>
            <div class="text17">Hazte VIP</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="background promo">
    <div class="container5">
      <div class="iconify-icon"><img class="svg3" src="assets/icons/sparkles.svg" alt="" /></div>
      <div class="text8">Mejora a VIP para estrenos exclusivos, streaming sin anuncios y audios Dolby Atmos.</div>
    </div>
    <div class="container6">
      <a class="link5" href="#"><div class="text9">Prueba VIP 7 días</div></a>
      <a class="link6" href="#"><div class="text10">Ver Planes</div></a>
    </div>
  </div>
</section>
