<div class="background">
  <div class="overlay">
    <div class="background-border-shadow">
      <div class="background-horizontal-border">
        <div class="container">
          <div class="text">Editar usuario</div>
        </div>
        <div class="border">
          <div class="iconify-icon">
            <img class="svg" ngSrc="assets/admin/salir.svg" alt="icono salir" height="18" width="19" />
          </div>
          <div class="text2">Cerrar</div>
        </div>
      </div>
      <div class="container2">
        <div class="background-border">
          <div class="background-border2">
            <img class="avatar" ngSrc="assets/admin/user4.png" alt="foto de usuario actual" height="142" width="142"/>
          </div>
          <div class="container3">
            <div class="text3">Selecciona una foto predeterminada</div>
          </div>
          <div class="container4">
            <div class="background-border3">
              <img class="avatar-1" ngSrc="assets/admin/user1.png" alt="foto de usuario 1" height="64" width="60"/>
            </div>
            <div class="background-border4">
              <img class="avatar-2" ngSrc="assets/admin/user2.png" alt="foto de usuario 2" height="64" width="60"/>
            </div>
            <div class="background-border5">
              <img class="avatar-3" ngSrc="assets/admin/user3.png" alt="foto de usuario 3" height="64" width="60"/>
            </div>
            <div class="background-border6">
              <img class="avatar-4" ngSrc="assets/admin/user4.png" alt="foto de usuario 4" height="64" width="60"/>
            </div>
            <div class="background-border7">
              <img class="avatar-5" ngSrc="assets/admin/user5.png" alt="foto de usuario 5" height="64" width="60"/>
            </div>
            <div class="background-border8">
              <img class="avatar-6" ngSrc="assets/admin/admin_default.png" alt="foto de usuario 6" height="64" width="60"/>
            </div>
          </div>
          <div class="container5">
            <div class="iconify-icon2">
              <div class="svg2">
                <img class="group" ngSrc="assets/admin/info.svg" alt="icono info" height="18" width="18" />
              </div>
            </div>
            <div class="text4">
              Solo selección de fotos
              <br />
              predefinidas.
            </div>
          </div>
        </div>
        <div class="container6">
          <div class="container7">
            <div class="container8">
              <div class="container9">
                <div class="text5">Nombre</div>
              </div>
              <div class="background-border9">
                <div class="text6">María</div>
              </div>
            </div>
            <div class="container8">
              <div class="container9">
                <div class="text7">Apellidos</div>
              </div>
              <div class="background-border9">
                <div class="text8">López</div>
              </div>
            </div>
          </div>
          <div class="container8">
            <div class="container9">
              <div class="text9">Alias</div>
            </div>
            <div class="background-border9">
              <div class="text10">&#64;maria</div>
            </div>
          </div>
          <div class="container8">
            <div class="container9">
              <div class="text11">Fecha de nacimiento</div>
            </div>
            <div class="background-border9">
              <div class="text12">12/04/1995</div>
            </div>
          </div>
        </div>
      </div>
      <div class="horizontal-border">
        <div class="background2">
          <div class="iconify-icon2">
            <div class="svg3">
              <img class="group2" ngSrc="assets/admin/bloquear.svg" alt="icono bloquear" height="15" width="14"/>
            </div>
          </div>
          <div class="text13">Bloquear</div>
        </div>
        <div class="container10">
          <div class="border2">
            <div class="text14">Cancelar</div>
          </div>
          <div class="background3">
            <div class="iconify-icon3">
              <div class="svg3">
                <img class="group3" ngSrc="assets/admin/guardar.svg" alt="icono guardar" height="18" width="19" />
              </div>
            </div>
            <div class="text15">Guardar cambios</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
