<div class="background">
  <div class="overlay">
    <div class="background-border-shadow">
      <div class="horizontal-border">
        <div class="container">
          <div class="text">Administrador creado correctamente</div>
        </div>
        <button class="border" type="button" (click)="goBack()">
          <div class="iconify-icon">
            <img class="svg" ngSrc="assets/admin/salir.svg" alt="icono salir" height="18" width="19"/>
          </div>
          <div class="text2">Cerrar</div>
        </button>
      </div>
      <div class="container2">
        <div class="background-border">
          <div class="se-ha-creado-el-administrador-y-se-ha-enviado-un-email-de-bienvenida">
            Se ha creado el administrador y se ha enviado un email de bienvenida.
          </div>
        </div>
        <div class="container3">
          <div class="background2">
            <img class="avatar" ngSrc="assets/admin/user4.png" alt="foto de usuario" height="28" width="28"/>
          </div>
          <div class="container4">
            <div class="paragraph">
              <div class="laura-mart-nez">Laura Martínez</div>
              <div class="laura-martinez">&#64;laura_martinez</div>
            </div>
            <div class="container5">
              <div class="container6">
                <div class="strong">
                  <div class="text3">Email:</div>
                </div>
                <div class="text4">laura.martinez&#64;plataforma.com</div>
              </div>
              <div class="container6">
                <div class="strong">
                  <div class="text5">Departamento:</div>
                </div>
                <div class="text6">Operaciones</div>
              </div>
            </div>
            <div class="container7">
              <div class="background-border2">
                <div class="iconify-icon2">
                  <img class="svg2" ngSrc="assets/admin/administradores.svg" alt="icono administrador" height="18" width="18"/>
                </div>
                <div class="text7">Administrador</div>
              </div>
              <div class="background-border3">
                <div class="iconify-icon2">
                  <div class="svg3">
                    <img class="group" ngSrc="assets/admin/credenciales.svg" alt="icono credenciales" height="18" width="18"/>
                  </div>
                </div>
                <div class="text8">Credenciales establecidas</div>
              </div>
            </div>
          </div>
        </div>
        <div class="margin">
          <div class="horizontal-divider"></div>
        </div>
      </div>
      <div class="horizontal-border2">
        <button class="background3" type="button" (click)="goBack()">
          <div class="iconify-icon3">
            <img class="svg4" ngSrc="assets/admin/tick.svg" alt="icono aceptar" height="18" width="19"/>
          </div>
          <div class="text9">Aceptar</div>
        </button>
      </div>
    </div>
  </div>
</div>
