<app-header />

<main class="background" [@fadeIn]>
  <section class="container">
    <div class="container2" [@slideInFromTop]>
      <div class="background-border">
        <div class="background-shadow">
          <img class="svg" src="assets/icons/shield.svg" alt="Verified" />
        </div>
        <div class="margin">
          <div class="container3">
            <div class="text">Tu cuenta está verificada</div>
          </div>
        </div>
        <div class="container4">
          <div class="text2">
            ¡Ya estás listo! Comienza a explorar ESIMedia y disfruta de todo nuestro contenido.
          </div>
        </div>
        <div class="container5">
          <button class="link" (click)="goToLogin()" [@buttonHover]>
            <img class="svg2" src="assets/icons/play.svg" alt="Home" />
            <div class="text3">Iniciar Sesión</div>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer />
