<footer class="background-horizontal-border2">
  <div class="container26">
    <div class="container27">
      <div class="container28">
        <div class="iconify-icon">
          <img class="svg18" src="assets/icons/logo_v2.png" alt="ESIMedia logo" style="width: 36px; height: 36px;" />
        </div>
        <div class="text">ESIMedia</div>
      </div>
      <div class="container10">
        <div class="text61">© 2025 ESIMedia, Inc.</div>
      </div>
    </div>
    <div class="container27">
      <a class="link10" routerLink="/about"><div class="text62">Sobre Nosotros</div></a>
      <a class="link10" routerLink="/help"><div class="text63">Centro de Ayuda</div></a>
      <a class="link10" routerLink="/terms"><div class="text64">Términos de Servicio</div></a>
    </div>
    <div class="container27">
      <a class="link10" routerLink="/privacy"><div class="text65">Política de Privacidad</div></a>
      <a class="link10" routerLink="/contact"><div class="text66">Contacto</div></a>
      <a class="link10" routerLink="/status"><div class="text67">Estado</div></a>
    </div>
  </div>
</footer>
